.cards-container {
	display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card {
	margin: 32px 16px;
	min-width: 272px;
  	padding: 0;
	
	position: relative;
	font-size: 2em;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	transition: transform .2s ease-in;

	flex-grow: 1;
	word-wrap: break-word;
    text-align: left;
    flex-basis: 100px;
}

.card:hover {
	transform: scale(1.1);
}

.card-colors-options {
	position: absolute;
	top: -16px;
	left: -16px;
	z-index: 1;
	font-size: 0;
}

.card-option {
	display: inline-block;
	overflow: hidden;
	width: 32px;
	height: 32px;
	padding: 0;
	outline: none;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0.5);
	cursor: pointer;
	margin-left: 5px;
}

.card-delete{
	margin-right: 10px;
	position: relative;
}

.card-delete:before {
	position: absolute;
  	font-family: 'FontAwesome';
   	top: 2px;
  	left: 5px;
  	content: "\f00d";
  	font-size: 22px;
  	text-align: center;
  	color: grey;
}

.card-edit {
	position: relative;
}

.card-edit:before {
	position: absolute;
  	font-family: 'FontAwesome';
   	top: 2px;
  	left: 5px;
  	content: "\f040";
  	font-size: 22px;
  	text-align: center;
  	color: grey;
}

.card-content {
	overflow: hidden;
	padding: 16px;
	line-height: 1.5;
}

[data-color="blue"] {
	background-color: #45AAEE; /*Azul*/
}

[data-color="red"]  {
	background-color: #FF1010; /*Vermelho*/ 
}

[data-color="green"]  {
	background-color: #76EF40; /*Verde*/
}

[data-color="yellow"]  {
	background-color: #EBEF40; /*Amarelo*/
}